@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: gray;
}

.container {
  background-color: white;
 }

h1 {
  margin-bottom: 20px;
}

#excusa {
  text-align: center;
  font-size: 1.2em;
  color: black;
}
